:host {
    padding: 0 !important;
    margin:0 !important;
    background: transparent !important;
}
.org-horizon-main{
    margin: 0;
    height: 100%;
    display: flex;
    overflow: hidden; 
}

.navigation-container {
    background-color: white;
    min-width: 205px;
    border-radius: 1rem 0 0 1rem;
    max-width: 205px;
    overflow-y: auto;
    padding-right: 8px;
    margin-right: 0px;
}
.navigation-container > .navigation{
    margin: 0;
}

.content-container{
    margin-left: 0px;
    padding: 10px;
    flex: 1; 
    overflow-y: auto;
    background-color: rgba(245, 245, 245, 0.75) !important;
    border-radius: 0 1rem 1rem 0;
}

.navigation-highlight{
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    display:block;
    border-width: 1px 0;
    border-style: solid;
    border-color: #bda295;
}

.quick-copy {
    display: block;
    background-color: #bda295;
    border-radius: 7px;
    padding: 2px 4px;
    margin: 2px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}