/* Main container */
.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: transparent;
}

/* Header & Filter Drawer */
.header-section {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e5e5e5;
}

.custom-card{
    border: 1px solid #e5e5e5;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: whitesmoke;
    margin-bottom: 1.5rem;
}