.plot-container-card{
    width: 100%;
    max-height: 400px;
    border: 1px solid rgb(231, 229, 127);
    background-color: white !important;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding:3px;
}

.green-background{
    background-color: green;
}